::-webkit-scrollbar{
    width: 12px;

    
}
::-webkit-scrollbar-track{
    background: hsla(0, 0%, 0%, 0.4);
}
::-webkit-scrollbar-thumb{
    background: hsla(105, 10%, 92%, 0.1);
     border-radius: rgb(28, 255, 3);
}
.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
  }
  @keyframes l5 {
    0% {
        box-shadow: 20px 0 #006400, -20px 0 #004d00;
        background: #004d00;
      }
      33% {
        box-shadow: 20px 0 #004d00, -20px 0 #006400;
        background: #006400;
      }
      66% {
        box-shadow: 20px 0 #006400, -20px 0 #004d00;
        background: #004d00;
      }
      100% {
        box-shadow: 20px 0 #004d00, -20px 0 #006400;
        background: #006400;
      }
  }